In [83]:
import pandas as pd

In [84]:
import numpy as np

In [85]:
from pandas import DataFrame, Series

In [86]:
df = DataFrame({'int_col' : [1,2,6,8,-1], 'float_col' : [0.1, 0.2,0.2,10.1,None], 'str_col' : ['a','b',None,'c','a']})

In [87]:
df.dropna(how='all',subset = ['float_col'],inplace=False)

   float_col  int_col str_col
0        0.1        1       a
1        0.2        2       b
2        0.2        6    None
3       10.1        8       c

In [88]:
df2 = df.copy()

In [89]:
mean = df2['float_col'].mean()

In [90]:
df2.fillna(value=mean)

   float_col  int_col str_col
0       0.10        1       a
1       0.20        2       b
2       0.20        6    2.65
3      10.10        8       c
4       2.65       -1       a

In [65]:
df2

   float_col  int_col str_col
0        0.1        1       a
1        0.2        2       b
2        0.2        6    None
3       10.1        8       c
4        NaN       -1       a