In [57]:
import pandas as pd

In [58]:
import numpy as np

In [59]:
import scipy as sp

In [60]:
from pandas import DataFrame, Series

In [61]:
from scipy import randn

In [62]:
df = DataFrame({'int_col' : [1,2,6,8,-1], 'float_col' : [0.1, 0.2,0.2,10.1,0.5], 'str_col' : ['a','b',None,'c','a']})

In [63]:
df

   float_col  int_col str_col
0        0.1        1       a
1        0.2        2       b
2        0.2        6    None
3       10.1        8       c
4        0.5       -1       a

In [64]:
grouped = df['float_col'].groupby(df['str_col'])

In [65]:
grouped.mean()

str_col
a     0.3
b     0.2
c    10.1
Name: float_col, dtype: float64

In [66]:
df = DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                'B' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
                'C' : randn(8),
                'D' : randn(8)})

In [73]:
df

     A      B         C         D
0  foo    one  1.731433  0.573613
1  bar    one -0.337362 -1.106266
2  foo    two  1.084389 -1.695406
3  bar  three -0.790954 -1.383225
4  foo    two -0.368673  1.539029
5  bar    two  1.328186 -1.272569
6  foo    one  2.400967 -0.972647
7  foo  three  1.176502  2.171144

In [79]:
grouped = df.groupby(['A', 'B'], sort=True)

In [80]:
grouped.sum()

                  C         D
A   B
bar one   -0.337362 -1.106266
    three -0.790954 -1.383225
    two    1.328186 -1.272569
foo one    4.132400 -0.399034
    three  1.176502  2.171144
    two    0.715716 -0.156378