In [11]:
import pandas as pd

In [12]:
import numpy as np

In [13]:
from pandas import DataFrame, Series

In [14]:
df = DataFrame({'int_col' : [1,2,6,8,-1], 'float_col' : [0.1, 0.2,0.2,10.1,None], 'str_col' : ['a','b',None,'c','a']})

In [17]:
df.cov()

           float_col    int_col
float_col  24.670000  12.483333
int_col    12.483333  13.700000

In [18]:
df.corr()

           float_col   int_col
float_col   1.000000  0.760678
int_col     0.760678  1.000000