In [60]:
import pandas as pd

In [61]:
import numpy as np

In [62]:
from pandas import DataFrame, Series

In [63]:
df = DataFrame({'int_col' : [1,2,6,8,-1], 'float_col' : [0.1, 0.2,0.2,10.1,None], 'str_col' : ['a','b',None,'c','a']})

In [64]:
df['str_col'].dropna().map(lambda x : 'map_' + str(x))

0    map_a
1    map_b
3    map_c
4    map_a
Name: str_col, dtype: object

In [73]:
df.ix[:,['int_col']].apply(np.sum)

int_col    16
dtype: int64

In [74]:
def some_fn(x):
    if type(x) is str:
        return 'applymap_' + x
    elif x:
        return 100 * x
    else:
        return

In [77]:
df.applymap(some_fn)

   float_col  int_col     str_col
0         10      100  applymap_a
1         20      200  applymap_b
2         20      600        None
3       1010      800  applymap_c
4        NaN     -100  applymap_a

In [83]:
df = DataFrame(data={"A":[1,2], "B":[1.2,1.3]})

In [84]:
df

   A    B
0  1  1.2
1  2  1.3

In [85]:
df["C"] = df["A"]+df["B"]

In [86]:
df

   A    B    C
0  1  1.2  2.2
1  2  1.3  3.3

In [87]:
df["D"] = df["A"]*3

In [88]:
df

   A    B    C  D
0  1  1.2  2.2  3
1  2  1.3  3.3  6

In [89]:
df["E"] = np.sqrt(df["A"])

In [90]:
df

   A    B    C  D         E
0  1  1.2  2.2  3  1.000000
1  2  1.3  3.3  6  1.414214