In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
from pandas import DataFrame, Series

In [5]:
df = DataFrame({'int_col' : [1,2,6,8,-1], 'float_col' : [0.1, 0.2,0.2,10.1,None], 'str_col' : ['a','b',None,'c','a']})

In [6]:
df2 = df.copy()

In [7]:
def two_three_strings(x):
    return x*2, x*3

In [12]:
df2['twice'],df2['thrice'] = zip(*df2['int_col'].map(two_three_strings))

In [10]:
df2

   float_col  int_col str_col  twice  thrice
0        0.1        1       a      2       3
1        0.2        2       b      4       6
2        0.2        6    None     12      18
3       10.1        8       c     16      24
4        NaN       -1       a     -2      -3

In [19]:
df3 = df.copy()

In [20]:
def sum_two_cols(series):
    return series['int_col'] + series['float_col']

In [24]:
df3['sum_col'] = df3.apply(sum_two_cols, axis=1)

In [25]:
df3

   float_col  int_col str_col  sum_col
0        0.1        1       a      1.1
1        0.2        2       b      2.2
2        0.2        6    None      6.2
3       10.1        8       c     18.1
4        NaN       -1       a      NaN

In [26]:
def int_float_squares(series):
    return pd.Series({'int_sq' : series['int_col']**2, 'flt_sq' : series['float_col']**2})

In [27]:
df.apply(int_float_squares, axis = 1)

   flt_sq  int_sq
0    0.01       1
1    0.04       4
2    0.04      36
3  102.01      64
4     NaN       1