In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
from pandas import DataFrame, Series

In [5]:
df = DataFrame({'int_col' : [1,2,6,8,-1], 'float_col' : [0.1, 0.2,0.2,10.1,None], 'str_col' : ['a','b',None,'c','a']})

In [6]:
df

   float_col  int_col str_col
0        0.1        1       a
1        0.2        2       b
2        0.2        6    None
3       10.1        8       c
4        NaN       -1       a

In [7]:
df2 = DataFrame({'str_col' : ['a','b'], 'some_val' : [1, 2]})

In [8]:
df2

   some_val str_col
0         1       a
1         2       b

In [9]:
pd.merge(df,df2,on='str_col',how='inner')

   float_col  int_col str_col  some_val
0        0.1        1       a         1
1        NaN       -1       a         1
2        0.2        2       b         2

In [10]:
pd.merge(df,df2,on='str_col',how='outer')

   float_col  int_col str_col  some_val
0        0.1        1       a         1
1        NaN       -1       a         1
2        0.2        2       b         2
3        0.2        6    None       NaN
4       10.1        8       c       NaN

In [11]:
pd.merge(df,df2,on='str_col',how='left')

   float_col  int_col str_col  some_val
0        0.1        1       a         1
1        0.2        2       b         2
2        0.2        6    None       NaN
3       10.1        8       c       NaN
4        NaN       -1       a         1

In [12]:
pd.merge(df,df2,on='str_col',how='right')

   float_col  int_col str_col  some_val
0        0.1        1       a         1
1        NaN       -1       a         1
2        0.2        2       b         2

In [13]:
left = DataFrame({'A': ['A0', 'A1', 'A2'],'B': ['B0', 'B1', 'B2']},index=['K0', 'K1', 'K2'])